@using Web.Models;
@model CleanerPaymentIndexViewModel

@{
    ViewBag.Title = "Cleaner Payment Index";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_Info")

@using (Html.BeginForm("Index", "CleanerPayment", FormMethod.Post))
{
    @*<div class="row">
            <div class="col-md-3">
                @Html.DisplayNameFor(a => a.ProofImage)
            </div>
            <div class="col-md-3">
                @Html.EditorFor(a => a.ProofImage)
            </div>
            <div class="col-md-3">
                @Html.DisplayNameFor(a => a.Remark)
            </div>
            <div class="col-md-3">
                @Html.TextAreaFor(a => a.Remark)
            </div>
        </div>*@

    <div class="row">
        <div class="col-md-12 right">
            @*<input type="submit" value="Search" class="btn btn-default" />*@
            <a class="btn btn-primary" href="@Url.Action("Create", "CleanerPayment")" role="button">New</a>
        </div>
    </div>
}